/* General Page Styling */

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/*

/* header Content Styling */

.company-name {
  color: white;
  text-decoration: none;
}

header {
  background-color: rgb(255, 99, 71, 0.9);
  position: fixed;
  width: 100vw;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
  text-align: center;
}

.nav-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.page-link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
}

.page-link:hover {
  text-decoration: underline;
}

/* Main Content Styling */

.tomatos {
  background-image: url("./images/tomato-feat.jpg");
}

.timer-img {
  background-image: url("./images/tomato-timer.webp");
}

.tote-bagBG {
  background-image: url("./images/tomato tote bag.webp");
}

.feat-img {
  height: 100vh;
  background-size: cover;
  position: relative;
}

.cta-container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  max-width: 400px;
  height: 25%;
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: tomato;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.cta-button {
  width: 80%;
  border-radius: 0.5rem;
  height: 25%;
  background-color: transparent;
  border-width: 1px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.cta-container > h2 {
  font-size: 1.3rem;
}

.cta-container > h1 {
  font-size: 1.7rem;
}

.cta-button:hover {
  background-color: tomato;
  width: 82%;
}

/* Footer Content Styling */

footer {
  background-color: rgb(255, 99, 71, 0.9);
  text-align: center;
  color: white;
  padding: 20px;
}

.fa-brands {
  color: white;
}
